<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562886436981-7rgcon94etkqvhdmm5ufnv7lqlnf1n3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562886436981-7rgcon94etkqvhdmm5ufnv7lqlnf1n3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDcljwiSZ4DAWZrWWaylPJhX7tmPIi_IO4</string>
	<key>GCM_SENDER_ID</key>
	<string>562886436981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.linksoftware.pamappy</string>
	<key>PROJECT_ID</key>
	<string>pamappy-9a1dc</string>
	<key>STORAGE_BUCKET</key>
	<string>pamappy-9a1dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562886436981:ios:7766e1eee26dd65fc5b03c</string>
</dict>
</plist>