node_modules
**/dist
/src/graphql/generated
/ios
/android
/fastlane
/storybook
/e2e
.temp
.type-coverage
.type-coverage-report
.localstack
.DS_Store
*.log
.yarn-cache
/**/*.d.ts
.vscode
*.config.js
__mocks__
.prettierrc.js
__tests__/